:root {
  --font-family: 'Inter', sans-serif;

  --spacing-2xsm: 0.25rem;
  --spacing-xsm: 0.5rem;
  --spacing-sm: 0.75rem;
  --spacing-md: 1rem;
  --spacing-lg: 1.25rem;
  --spacing-xl: 1.5rem;
  --spacing-2xl: 2rem;

  --shadow-md: 0 2px 4px rgba(0, 0, 0, 0.1);

  --radius-sm: 0.25rem;
  --radius-md: 0.5rem;
  --radius-lg: 1rem;

  --font-size-sm: 0.5rem;
  --font-size-md: 0.8rem;
  --font-size-lg: 0.9rem;
  --font-size-xl: 1.2rem;

  --max-width: 1200px;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: var(--font-family);
}

.body-light {
  --primary-color: #ff6201;
  --secondary-color: #5055a0;
  --text-color: #4c4444;
  --text-white: #fff;
  --label-color: #3f3f3f;
  --disabled-color: #bdbdbd;
  --bg-white: #fff;

  --border-color: #ebe8e8;
  --input-border-color: #3f3f3f;

  --main-bg: #f5f5f5;
}

h1 {
  font-size: 0;
}
